<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.petcaretracker">

    <!-- 🔥 Permisos necesarios para Firebase -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="true"/>


    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.PetCareTracker"
        tools:targetApi="31">

        <!-- 🔥 Firebase Services (asegúrate de tener google-services.json en app/) -->
        <meta-data
            android:name="com.google.firebase.database"
            android:value="true" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBUuX8vCHQGe_t9XvVMryjFCL7VmRgcWi4" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".LoginActivity"/>
        <activity android:name=".LoginActivity2"/>

        <!-- 🐾 Owner -->
        <activity android:name=".owner.RegisterActivity" />
        <activity android:name=".owner.HomeActivity"/>
        <activity android:name=".owner.MedicoActivity"/>
        <activity android:name=".owner.RegistroMedicoActivity"/>
        <activity android:name=".owner.HistorialMedicoActivity"/>
        <activity android:name=".owner.AgregarRecordatorioActivity"/>
        <activity android:name=".owner.RecordatorioVacunasActivity"/>
        <activity android:name=".owner.VerCalendarioActivity"/>
        <activity android:name=".owner.MascotasActivity"/>
        <activity android:name=".owner.AgregarMascotaActivity"/>
        <activity android:name=".owner.EditarMascotaActivity"/>
        <activity android:name=".owner.CarnetVacunacionActivity"/>
        <activity android:name=".owner.AgregarVacunaActivity"/>
        <activity android:name=".owner.AlimentacionActivity"/>
        <activity android:name=".owner.CompartirUbicacionActivity"/>
        <activity android:name=".owner.AgendarCitaActivity"/>

        <!-- 🌐 Compartido -->
        <activity android:name=".owner.UbicacionActivity"/>
        <activity android:name=".EditarPerfilActivity"/>
        <activity android:name=".ConfiguracionActivity"/>

        <!-- 👨‍⚕️ Veterinario -->
        <activity android:name=".veterinario.HomeVeterinarioActivity"/>
        <activity android:name=".veterinario.MedicoVeterinarioActivity"/>
        <activity android:name=".veterinario.MascotasVeterinarioActivity"/>
        <activity android:name=".veterinario.EstadisticasVeterinarioActivity"/>
        <activity android:name=".veterinario.MensajesVeterinarioActivity"/>
        <activity android:name=".veterinario.HorariosVeterinarioActivity"/>
        <activity android:name=".veterinario.ReputacionVeterinarioActivity"/>
        <activity android:name=".veterinario.UbicacionVeterinarioActivity"/>
        <activity android:name=".veterinario.ConsultarHistorialActivity"/>
        <activity android:name=".veterinario.RegistrarAtencionActivity"/>
        <activity android:name=".veterinario.ActualizarCarnetActivity"/>
        <activity android:name=".veterinario.AgregarVacunaActivity2"/>
        <activity android:name=".veterinario.AgendaCitasActivity"/>

        <activity android:name=".cuidador.HomeCuidadorActivity"/>
        <activity android:name=".cuidador.MascotasCuidadorActivity"/>
        <activity android:name=".cuidador.UbicacionCuidadorActivity"/>
        <activity android:name=".cuidador.CompartirUbicacionCuidadorActivity"/>

        <!-- 🐾 Dueño -->
        <activity android:name=".owner.MensajesActivity"/>

        <!-- 💬 Chat uno-a-uno -->
        <activity android:name=".ChatActivity"/>


        <activity android:name=".cuidador.MensajesCuidadorActivity"/>


    </application>

</manifest>
